.home_content{
  width: auto;

}

.acomodacao{
  width: 300px;
  height: 300px;
  background-color:#fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
  border-radius: 5px;
  flex-direction: column;
  margin: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-radius: 10%;
}
.tituloAcomodacao{
  height: 70px;
  width: 100%;
  background-color: var(--bordo) ;
  color: var(--bege);
  display: flex;
  font-weight: 600;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.acomodacoes{
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 5%;
}

.acomodacao input[type="date"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.hospedar{
  width: 40%;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 0.8rem;
  background-color: var(--bordo);
  color: var(--bege);
  
}
.content-acomodacao{
width: 100%;
height: 25%;
display: flex;
flex-direction: column;
justify-content: center;

}
.hospede-info {
margin-bottom: 7%;
margin-left: 10%;
color: var(--bege);

}
.data-info{
margin-left: 10%;
margin-top: 5%;
margin-bottom: 7%;
color: var(--bege);

}
.pessoa-hospede-info{
padding: 0px;
margin: 0px;
border: 0px;
height: 50%;
width: 15%;
}
.linha-separacao{
background-color: var(--bege);
border: transparent;
height: 0.2%;
width: 100%;
padding: 0px;
margin: 0px;
}
.info-acomodacao{
height: 10%;
width: 100%;
padding: 0px;
display: flex;
justify-content: center;
align-items: center;
}

.fa-solid-fa-spinner-icon{
margin-right: 5%;
}

.info-acomodacao i{
text-decoration: none;
color: var(--bordo);
margin-right: 5%;

}
.content-acomodacao span i{
width: 100%;

}
.acomodacao-info{
margin-left: 3%;
}

#icons-ocupado{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8%;

}
.hospedar:hover{
background-color: var(--bege);
color: var(--bordo);
border-color: var(--bege);
font-weight: 700;

}
.acomodacao:hover{
background-color: whitesmoke;
}

.info-acomodacao i:hover{
color: #c95f5f;
}



/* responsividade */
@media (max-width: 1400px) {
  .acomodacoes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .acomodacoes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .acomodacoes {
    grid-template-columns: 1fr;
  }
}


/* MODAL */

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}

.modal-conteudo {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.modal-fechar {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.modal-fechar:hover,
.modal-fechar:focus {
color: black;
text-decoration: none;
cursor: pointer;
}