@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


:root {

    --vinho: #660000;
    --bordo: #7C2424;
    --bege: #D2AE6D;
    --branco: #FFF;
    --black: #000;

}

body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }

    .carousel-container {
      position: relative;
      width: 800px;
      height: auto;
      margin: auto;;
      overflow: hidden;
      border-radius: 20px;
    }

    .carousel {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
      min-width: 100%;
      box-sizing: border-box;
      
    }

    .carousel img {
      max-width: 100%;
      height: 100%;
      
    }

    .carousel-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      color: white;
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }
    .carousel-btn:hover{
      color: lightgray;
    }

    @media (max-widht: 1400px){
      .carousel{
        margin-left: 40%;
      }
    }